<div class="w-100 d-flex justify-content-center">
    <div class="w-70">
        <form>
            <h3 class="heading">DADOS DO TUTOR</h3>
            <div class="my-4">
                <h4 class="subheading p-0 m-0">Dados Pessoais</h4>
                <div class="w-100 container p-0 d-flex flex-column">
                    <div class="row">
                        <div class="col form-campo d-flex flex-column">
                            <label for="tutor_nome">Nome</label><input id="tutor_nome" type="text">
                        </div>
                        <div class="col form-campo d-flex flex-column">
                            <label for="tutor_genero">Gênero</label><input id="tutor_genero"
                                type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-campo d-flex flex-column">
                            <label for="tutor_cpf">CPF</label><input id="tutor_cpf" type="text">
                        </div>
                        <div class="col form-campo d-flex flex-column">
                            <label for="tutor_rg">RG</label><input id="tutor_rg" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>