<div class="sidebar shadow-lg">
    <div class="coluna">
        <div matTooltip="Animais"
        aria-label="Animais" [routerLink]="['/web/animais']" class="icon"><img src="../../../assets/img/ursinho-animal-box-menu.png" alt="ursinho"></div>
        <div matTooltip="Tutores"
        aria-label="Tutores" [routerLink]="['/web/tutores']" class="icon"><img src="../../../assets/img/tutor-box-menu.png" alt="prancheta tutor"></div>
        <div matTooltip="Consultas"
        aria-label="Consultas" [routerLink]="['/web/consultas']" class="icon"><img src="../../../assets/img/doctors-folder-icon.png" alt="pasta de documentos"></div>
        <div matTooltip="Animais"
        aria-label="Usuários" [routerLink]="['/web/usuarios']" class="icon"><img src="../../../assets/img/person-icon.png" alt="icone de pessoa"></div>
    </div>
</div>