<div class="tabela-card shadow px-4 py-3 mb-5">
    <table *ngIf="!carregando" class="tabela-principal d-grid">
        <thead class="d-grid container">
            <tr class="row">
                <div class="row col-md-10 p-0">
                    <th class="col-md-1">Código</th>
                    <th class="col" *ngFor="let header of headers">{{ header.header }}</th>
                </div>
                <div class="acoes col-md-2">
                    <th class="col">Ações</th>
                </div>
            </tr>
        </thead>
        <tbody class="d-grid container">
            <tr class="row" *ngFor="let dado of dados">
                <div class="h-100 col-md-10 row linha hover">
                    <th class="col-md-1">{{dado["id"]}}</th>
                    <td *ngFor="let header of headers" class="col">{{retornarValor(header, dado)}}</td>
                </div>
                <td class="acoes col-md-2">
                    <div class="acao hover">
                        <bi class="icon" name="pen-fill"></bi>
                    </div>
                    <div *ngIf="showToggle" class="acao hover">
                        <bi class="icon" name="trash-fill"></bi>
                    </div>
                </td>
                <!-- <td *ngIf="showDeleteButton || !showDeleteButton" class="d-flex gap-2">
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                        (click)="onEditClick(dado)" class="btn">
                        Edit
                    </button>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                        *ngIf="showDeleteButton" (click)="onDeleteClick(dado)" class="btn">
                        Delete
                    </button>
                    <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                        *ngIf="showEndButton" (click)="onViewClick(dat)" class="btn">
                        Finalizar
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>