<div class="d-flex justify-content-between mb-3">
    <h3 class="text-primary font-outfit">{{title}}</h3>
</div>
<div class="tabela-card shadow px-4 py-3 mb-5">
    <table *ngIf="!carregando" class="tabela-principal d-grid">
        <thead class="d-grid container">
            <tr class="row">
                <div class="row col-md-10 p-0">
                    <th class="col-md-1">Código</th>
                    <th class="col" *ngFor="let header of headers">{{ header.header }}</th>
                </div>
                <div class="acoes col-md-2">
                    <th class="col">Ações</th>
                </div>
            </tr>
        </thead>
        <tbody class="d-grid container">
            <tr class="row" *ngFor="let entidade of dados">
                <div class="h-100 col-md-10 row linha hover" (click)="onDetailsClick(entidade)">
                    <th class="col-md-1">{{entidade["id"]}}</th>
                    <td *ngFor="let header of headers" class="col">{{retornarValor(header, entidade)}}</td>
                </div>
                <td class="acoes col-md-2">
                    <div class="acao hover" (click)="onEditClick(entidade)">
                        <bi class="icon" name="pen-fill"></bi>
                    </div>
                    <div *ngIf="showToggle" class="acao hover" (click)="onToggleClick(toggle, entidade)">
                        <bi *ngIf="!entidade.deletedAt" class="icon" name="trash-fill"></bi>
                        <bi *ngIf="entidade.deletedAt" class="icon" name="arrow-clockwise"></bi>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #toggle let-modal class="modal-principal">
    <div class="modal-header w-100 px-5 d-flex justify-content-center">
        <h3 class="modal-title text-center w-100">Confirmação</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="body d-flex justify-content-center flex-column align-items-center">
            <img src="../../../assets/img/gato-preto.png" alt="" srcset="">
            <div class="aviso pt-5 pb-3 ">
                <h5 class="text-secondary fw-bold">Confirma a {{toggleEntidade.deletedAt? "ativação": "desativação"}}?</h5>
            </div>
            <div class="buttons d-flex justify-content-around w-50 gap-3">
                <button (click)="toggleBtn(toggleEntidade)" type="button"
                [ngClass]="
                {
                    'btn-success': toggleEntidade.deletedAt,
                    'btn-danger': !toggleEntidade.deletedAt
                }
                "
                class="btn botoes">{{toggleEntidade.deletedAt? "Ativar" : "Desativar"}}</button>
                <button type="button" class="botoes btn btn-secondary text-white" (click)="modal.close('Close click')">Cancelar</button>
            </div>
        </div>
    </div>
</ng-template>