<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="w-75 h-100">
        <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
        <div class="d-flex justify-content-between mb-3">
            <h3 class="text-primary font-outfit">Tutores Cadastrados</h3>
        </div>
        <app-table [headers]="callHeaders()" [apiUrl]="apiUrlPath()" [editPath]="'funcionarios/edit'"
            [entidade]="'Tutor'" [showToggle]="true"></app-table>
    </div>
</div>